menu:
  file:
    Standard:
      dir: /output/scan1
      resolution: 200
      width: 210
      height: 297
      uid: 1000
      gid: 1000
    ADF:
      dir: /output/scan2
      resolution: 200
      width: 210
      height: 297
      adf: true
      uid: 1000
      gid: 1000
  email:
    User1:
      resolution: 200
      address: user1@domain.com
      width: 210
      height: 297
    User2:
      resolution: 200
      address: user2@domain.com
      width: 210
      height: 297
      adf: true
